extends layout.pug

block content

  //-h6(style ="margin: 35px 0 15px 0; text-align: center") SMART DRIVERS LICENSE SYSTEM [S.M.D]


block content

  h3(style ="margin: 35px 0 15px 0; text-align: center") Welcome to The S.M.D Portal

  p GET USER IDENTITY NUMBER