doctype html
html
  head
      title= title
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='./css/bootstrap.min.css')
      link(rel='stylesheet' href='./css/style.css' type='text/css')
      //-link(href='/css/ bootstrap-overrides.css', type='text/css', rel='stylesheet')
      
  body
      h2(style ="margin: 35px 0 15px 0; text-align: center") SMART DRIVERS LICENSE SYSTEM [S.M.D]
      
      ul.topnav
            li
              a(href='/') Home
            li
              a(href='/register') Register User
            li
              a(href='/read-tag') Read Tag ID
            li
              a(href='/user-data') User Data


      block content

      block footer
        footer.footer(style="margin: 35px 0 15px 0; text-align: center"
        )
          copyright Smart Driving Licence