
h2 SMART DRIVERS LICENSE SYSTEM [S.M.D]

nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
  ul.nav.navbar-nav
    li
      a(href='/') Home
    li
      a(href='/registration') Register User
    li
      a(href='/read-tag') Read Tag ID
    li
      a(href='/user-data') User Data
