extends layout.pug
//-include mixins/_tableRow

block content
    table.ui.celled.table.center.aligned
        thead
            tr
                th Full Name
            tr
                th ID
            tr
                th Gender
            tr
                th Class
            tr
                th Issued
            tr
                th Expire
            tr
                th Nationality
        tbody
            //-+tableRow(driver)
        tfoot
            tr
                th(rowspan='2')


